### Lists - A bag of items (You can change)
Lists are collectins that can be changed. You can add, remove or update items.

In [1]:
# Example 1
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits[0])
print(fruits[3])
print(fruits)

apple
orange
['apple', 'banana', 'cherry', 'orange']

In [3]:
# Example 2
routine = ['wake up', 'breakfast', 'lunch', 'dinner', "sleep"]
routine.append("exercise")
print(routine[4])
print(routine)

sleep
['wake up', 'breakfast', 'lunch', 'dinner', 'sleep', 'exercise']

In [5]:
# Example 3
class_schedule = ['English', 'Math', 'Science', 'History', 'Geography']
class_schedule.append("Art")
print(class_schedule[3])
print(class_schedule)

History
['English', 'Math', 'Science', 'History', 'Geography', 'Art']

### Tuples - A fixed collection (You can't change)
Tuples are like lists, but you cannot change their values.

In [7]:
# Example 1
months = ('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
print(months[0])
print(months[5])
print(months[11])
print(months)

January
June
December
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')

In [8]:
# Example 2
days_of_the_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
print(days_of_the_week[0])
print(days_of_the_week[3])
print(days_of_the_week[6])
print(days_of_the_week)

Monday
Thursday
Sunday
('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [9]:
# Example 3
book = ('The Great Gatsby', 'F. Scott Fitzgerald', 1925)
print(book[0])
print(book[1])
print(book[2])
print(book)

The Great Gatsby
F. Scott Fitzgerald
1925
('The Great Gatsby', 'F. Scott Fitzgerald', 1925)

### Dictionaries - Key and Value Pairs
Dictionaries store data as key-value pairs

In [10]:
# Example 1
person = {'name': 'John', 'age': 30, 'city': 'New York'}
print(person['name'])
print(person['age'])
print(person['city'])
print(person)

John
30
New York
{'name': 'John', 'age': 30, 'city': 'New York'}

In [12]:
# Example 2
student = {'name': 'Abubakar', 'age': 13, 'grade': 'A'}
print(student['name'])
print(student['age'])
print(student['grade'])
print(student)

Abubakar
13
A
{'name': 'Abubakar', 'age': 13, 'grade': 'A'}

In [13]:
# Example 3
car = {'make': 'Toyota', 'model': 'Camry', 'year': 2022}
print(car['make'])
print(car['model'])
print(car['year'])
print(car)

Toyota
Camry
2022
{'make': 'Toyota', 'model': 'Camry', 'year': 2022}

### Sets - Unique Items Only
Sets are unordered collections of unique items.

In [15]:
  # Example 1
games = {'football', 'basketball', 'cricket', 'tennis', 'basketball'}
print(games)  #removes duplicates

{'tennis', 'football', 'cricket', 'basketball'}

In [16]:
# Example 2
colors = {'red', 'green', 'blue', 'yellow', 'red'}
print(colors)

{'red', 'yellow', 'green', 'blue'}

In [17]:
# Example 3
animals = {'dog', 'cat', 'bird', 'fish', 'dog'}
print(animals)

{'bird', 'fish', 'dog', 'cat'}